$primaryColor: #9913e1;
$secondaryColor: #e0e0e0;
$primaryFont: "Monda", sans-serif;
$secondaryFont: "Staatliches", cursive;

// SLIDER

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin mediaLarge {
  @media (max-width: 1200px) {
    @content;
  }
}
