@include mediaLarge {
  header {
    .landing {
      nav {
        padding: 60px 20px 0 80px;

        img {
          height: 70px;
        }

        ul {
          li {
            font-size: 1.2rem;
            padding: 0 10px;
          }
        }
      }

      .info {
        img {
          height: 250px;
          margin-right: -5rem;
        }

        #place {
          font-size: 1rem;
        }

        #party {
          margin-right: -5rem;
          transform: rotate(-5deg);
        }

        p {
          max-width: 450px;
        }
      }
    }
  }

  #arrow {
    display: none;
  }

  .party {
    background-size: 25% 35%;
  }

  .slider {
    h2,
    h3 {
      font-size: 1rem;
    }

    .slide {
      padding-left: 30px;

      p {
        max-width: 400px;
      }
    }
  }

  .tickets {
    flex-direction: column;

    .info {
      h1 {
        margin: 1rem 0 1rem 60px;
      }

      .images {
        @include flex(space-between, center);
        margin-top: 3rem;
        margin-left: 0;

        * {
          max-height: 18vw;
          padding: 0;
        }
      }
    }

    > img,
    #banner {
      display: none;
    }

    #bannerAfter {
      display: block;
      max-width: 100%;
    }
  }

  .moreInfo {
    > div {
      h3 {
        font-size: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }

  .noTomorrow {
    padding: 100px 30px;

    h1 {
      font-size: 4rem;
      line-height: 55px;
    }

    h2 {
      font-size: 1.3rem;
    }

    p {
      max-width: 750px;
    }
  }

  .heart {
    div {
      h1 {
        font-size: 4.5rem;
        line-height: 70px;
        padding-bottom: 20px;
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}
