.slider {
  background: url("../../image/bgSlider.png") no-repeat;
  background-size: 100%;
  padding: 160px 180px 200px 180px;

  .navigation {
    @include flex(flex-end, center);
    max-width: 800px;
    margin: 0 auto;

    h1 {
      color: $primaryColor;
    }

    img {
      transform: rotate(-90deg);
      padding: 0 50px;
    }
  }
}
