@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
  font-family: "Monda", sans-serif;
}

header {
  @include flex(space-between, center);

  .landing {
    background: url("../../image/bg.png") top left no-repeat;
    min-height: 100vh;
    flex: 2;

    nav {
      @include flex(space-between, center);
      padding: 90px 50px 0 80px;
      //top right bottom left

      ul {
        @include flex(space-between, center);
        list-style-type: none;

        li {
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 500;
          padding: 0 25px;

          &.active {
            color: #9913e1;
            font-weight: 900;
          }
        }
      }
    }

    .info {
      @include flex(center, center);
      flex-direction: column;

      img {
        height: 350px;
        padding: 10px 0;
        margin-right: -20rem;
      }

      #place {
        background: #000;
        color: #fff;
        padding: 0 10px;
        text-transform: uppercase;
        transform: rotate(-5deg);
      }

      #party {
        background: #9913e1;
        color: #fff;
        padding: 0 10px;
        margin-right: -20rem;
        text-transform: uppercase;
        transform: rotate(-3deg);
      }

      p {
        font-size: 1.3rem;
        max-width: 600px;
        text-align: center;
        padding: 50px 0;
        font-weight: 500;

        span {
          color: #9913e1;
          font-weight: 900;
        }
      }
    }
  }

  .singer {
    min-height: 100vh;
    flex: 1;
    float: right;
    background: url("../../image/singer.jpg") center/cover no-repeat;
  }

  #arrow {
    float: left;
    margin-top: -10rem;
    margin-left: 3rem;
    cursor: pointer;
  }
}

.party {
  background: #9913e1 url("../../image/bgShape.png") left bottom no-repeat;
  @include flex(center, center);
  padding: 50px 0;

  h1 {
    font-size: 5rem;
    max-width: 400px;
    letter-spacing: 5px;
    line-height: 70px;
    text-transform: uppercase;
    font-family: "Staatliches", cursive;

    span {
      color: #fff;
    }
  }

  p {
    max-width: 420px;
    line-height: 23px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 0;

    span {
      color: #fff;
      font-weight: 900;
    }
  }

  button {
    text-transform: uppercase;
    font-family: "Monda", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    background: none;
    border: 3px solid #e0e0e0;
    border-radius: 20px;
    padding: 5px 40px;
    cursor: pointer;

    a {
      color: #e0e0e0;
      text-decoration: none;
    }
  }
}
